{% extends "main.twig" %}
{% block header_include %}
<link rel='stylesheet' id='chosen-css'  href='/js/chosen/chosen.min.css' type='text/css' media='all'>
{% endblock %}
{% block bodyclass %}class="login nosidebar"{% endblock %}

{% block content %}
	<h1 class="page-title">Signup</h1> 
	<div class="wrap">
		<ul class="progress-indicator">
			<li class="completed"><span class="bubble"></span>Email confirmation sent</li>
			<li class="completed"><span class="bubble"></span>Enter User Information</li>
			<li class="completed"><span class="bubble"></span>Confirm Information</li>
			<li><span class="bubble"></span>Register Completed</li>
		</ul>
	</div>
	<br>
	<h2>Confirm User Information</h2>  

	<form action="" method="post" class="signupform">
		<fieldset>
			{% if msg %}
				<div class="flash-error">
					<span>{{msg}}</span>
				</div>        
			{% endif %}
			<p>
				<label class="r" for="email">Email:</label>
				<span class="show">{{ r.email }}</span>
			</p>
			<p>
				<label class="r" for="country">Country:</label>
				<span class="show">{{ r.country }} - {{ r.country_iso }}</span>
			</p>
			<p>
				<label class="r" for="username">Username:</label>
				<span class="show">{{ r.username }}</span>
			</p>
			<p>
				<label class="r" for="user_password">Password:</label>
				<span class="show">******</span>
			</p>
			
			<p style="clear:both;">
			  <label class="r" for="nickname">Display Name:</label>
			  <span class="show">{{ r.nickname }}</span>
			</p>
			<p>
			  <label class="r" for="nickname">Subscribe:</label>
			  <span class="show">{% if r.newsletter_flag %}- Newsletter{% else %}-{% endif %}</span>
			</p>
			<br/>
			<p>
				<label></label>
			  	<input type="submit" name="confirm" value="Confirm"> &nbsp;
			  	<input type="submit" name="back" value="Back" style="background-color: #999;">
			</p>
		</fieldset>
	</form>
	<br>
{% endblock %}

{% block footer_include %}
<script type="text/javascript" src="/js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".chosen").chosen({width: "300px", search_contains:true });
	});
</script>
{% endblock %}