{% extends "main.twig" %}
{% block pagetitle %}{% trans "Login" %} - Olelang.com{% endblock %}
{% block bodyclass %}user{% endblock %}

{% block header %}
		<header class="wrap" style="text-align: center; z-index: 2; position: relative;">
			<a href="{{ path_for('homepage') }}" class="site-logo"><abbr title="{% trans "Lelang Online - Olelang.com" %}"><img src="/img/logo.png" /></abbr></a>
		</header>
{% endblock %}

{% block content %}
	<h1 class="page-title">Login</h1> 
	<p class="sub-page-title">{% trans "Don't have an account yet?" %}. <a href="/signup">{% trans "Signup here" %}</a></p>
	<div class="w_social">
		<a href="/fb" class="btn btn-fb" rel="nofollow"><i class="icon-facebook"></i> {% trans "Login using Facebook" %}</a>
		<a href="/google" class="btn btn-google" rel="nofollow"><i class="icon-google"></i> {% trans "Login using Google" %}</a>
		{#
		<a href="/yahoo" class="btn btn-yahoo"><i class="icon-yahoo"></i>&nbsp; {% trans "Login using Yahoo" %}</a>
		#}
	</div>
	<div class="sep">
		<div class="w_or">{% trans "Or" %}</div>	
	</div>
	<div class="w_email">
		<form action="" method="post" class="form login">
			<fieldset>           
				{% if msg %}
				  <div class="flash-error">
					<span>{{msg}}</span>
				  </div>        
				{% endif %}
				<p>
				  <label for="username">Username</label>
				  <input placeholder="Username" name="username" type="text" size="30" autofocus >
				</p>
				<p>
				  <label for="user_password">Password</label>
				  <input placeholder="Password" name="password" type="password" size="30" value="" >
				</p>
				<p>
					<label></label>
				  	<input type="checkbox" name="remember_me" id="remember_me" value="1"> Remember me
				</p>
				<p>
					<label></label>
				  	<input type="submit" name="submit" value="Login"/>
				  	&nbsp;          
				  	<a href="/forgot">Forgot Password?</a>
				</p>
			</fieldset>
			<input type="hidden" name="{{ csrfNameKey }}" value="{{ keyPair.csrf_name }}" />
			<input type="hidden" name="{{ csrfValueKey }}" value="{{ keyPair.csrf_value }}" />
		</form>
	</div>
{% endblock %}

	
	
	